#action {
  border: 2px solid gray;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-family: sans-serif, arial;
}

h3 {
  font-size: 30px;
  font-family: sans-serif, arial;
}

p{
  font-size: 16px;
  font-family: sans-serif, arial;
}



@media only screen and (max-width: 400px) {

}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  #container {
    width: 80%;
    top: 30%;
    margin: 10%;
    position: absolute;
  }
}

@media only screen and (min-width: 800px) {
  #container {
    top: 15%;
    margin: 15%;
    width: 70%;
    position: absolute;
  }
}
